@{
    ViewBag.Title = "About  Stock Ticks SecurEx";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>we connect decision makers in business, finance and government to a dynamic network of information, news, thus enabling ideas that enable faster, more effective decisions</p>
