@{
    ViewBag.Title = "Contact Stock Ticks SecurEx";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Stock Ticks SecurEx<br />
    Atlanta, GA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    775.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@StockTckSecurEx.com">Support@StockTckSecurEx.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@StockTckSecurEx.com">Marketing@StockTckSecurEx.com</a>
</address>